input {
    border: none;
    border-bottom: 3px solid #566885;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #566885;
    padding: 5px;
    outline: none;
    margin-bottom: 15px;
    width: 100%;
}