.file {
    margin: 10px 0;
    border-bottom: solid 2px #566885;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);

    animation: file-enter 500ms forwards;

    &__name {
        grid-column-start: 2;
    }

    &__img {
        justify-self: center;
    }

    &__date {
        grid-column-start: 5;
        justify-self: center;
    }

    &__size {
        grid-column-start: 6;
        justify-self: center;
    }

    &__btn {
        display: none;
        border: 1px solid #566885;
        box-sizing: border-box;
        border-radius: 37px;
        width: 58px;
        height: 34px;
        cursor: pointer;
        padding: 5px;
        justify-self: center;
    }

    &__download {}

    &__delete {}

    &:hover &__date {
        grid-column-start: 3;
    }

    &:hover &__size {
        grid-column-start: 4;
    }

    &:hover &__download {
        display: block;
        grid-column-start: 5;
    }

    &:hover &__delete {
        display: block;
        grid-column-start: 6;
    }
}

@keyframes file-enter {
    0% {
        opacity: 0;
        transform: translateY(-50%)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.file-plate {
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: file-enter 500ms forwards;


    &__img{
        height: 100px;
        width: 100px;
    }

    &__btns{
        padding-top: 15px;
        display: none;

    }

    &__btn{
        margin: 0 5px;
        width: 30px;
        height: 30px;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img{
            object-fit: cover;
        }
    }

    &:hover{
        .file-plate__btns{
            display: flex;
        }
    }


}