.upload-file {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 5px 0;
    padding: 5px 10px;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__progress-bar {
        height: 1rem;
        border-radius: 9px;
        background-color: #566885;
        display: flex;
        margin: 3px 0;

    }

    &__upload-bar{
        background: green;
        width: 70%;
        border-radius: 9px;

    }

    &__percent{
        color: #fff;
        font-size: 14px;
        line-height: 1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}