.uploader{
    height: 300px;
    width: 300px;
    position: fixed;
    background-color: #566885;
    bottom: 0;
    right: 0;
    padding: 20px;
    border-radius: 12px;
    overflow-y: auto;

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__title{
        color: #fff;
        font-size: 18px;
    }

    &__close{
        padding: 0px 4px;
    }

}
