.disk{
    margin-top: 20px;

    &__btns{
        display: flex;
        align-items: center;
    }

    &__create, &__back{
        margin-left: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF;
        background: #566885;
        border-radius: 12px;
        padding: 2px 25px;
        cursor: pointer;
        outline: none;
        border: none;
    }

    &__upload{
        margin-left: 10px;


        &-label{
            border: 2px dashed #566885;
            padding: 5px 10px;
            cursor: pointer;
        }
        &-input{
            display: none;
        }
    }

    
}

.drop-area{
    height: calc(100vh - 54px - 40px);
    margin: 20px;
    border: dashed 2px #566885;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #566885;
}