.header {
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(92, 92, 92, 0.25);
    padding: 8px 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;

        a {
            img {
                margin-right: 8px;
            }
        }
    }

    &__logo-text {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;

        color: #566885;
    }
}

.nav{


    &__list{
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__link{
        margin-left: 27px;
        cursor: pointer;

        &:first-child{
            margin-left: 0;
        }


        a, div{
            text-decoration: none;
            color: inherit;
        }
    }
}